.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
*.Rcheck
*.rds
/doc/
/Meta/
# macOS
.DS_Store

# logs
*.log

# rendered outputs
*.html
*.pdf

# R Markdown outputs
inst/RJ/*.html
inst/RJ/*.pdf
inst/RJ/*.log

# optional: keep vignettes but not outputs
inst/*.html
